<div id="list-cont">
    <p id="General">General</p>
    <button><img src="/icons8-document.svg" alt="img not found"><span>Documents</span></button>
    <button><img src="/icons8-manager-100.png" alt="img not found"><span>Agents</span></button>
    <button><img src="/patron.png" alt="img not found"><span>Chefs</span></button>
    <button><img src="/icons8-deux-tickets-100.png" alt="img not found"><span>Tickets</span></button>
    <div id="Help"><button><img src="/icons8-support-en-ligne-100.png" alt="img not found"><span>Help Center</span></button></div>
    <div><button><img src="/icons8-paramètres-100.png" alt="img not found"><span>Settings</span></button></div>
    <div id="profil"><img src="/profil.jpg" width="40 px" height="40px" alt=""><div class="profile-text">
        <div class="name">Habib El Fekih</div>
        <div class="email">habib.elfekih2004@gmail.com</div>
    </div>
    </div>
</div>
