:host {
    display: block;
    width: 13vw;
    height: 87vh;
    margin: 0;
    padding: 0;
}

* {
    color: white;
}

#list-cont {
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

p {
    width: 100%;
    font-size: 175%;
    margin: 0;
    margin-left: 15%;
    padding-top: 5%;
}

#Help{
    margin-top: auto;
}

span {
    font-size: large;
}

img {
    width: 2.5vw;
    height: 2.5vw;
}

button {
    background-color: #1e1e1e;
    border: none;
    cursor: pointer;
    gap: 4px;
    display: flex;
    align-items: center;
    margin-top: 15%;
    margin-left: 10%;
    width: 80%;
}

button:hover {
    background-color: #383838;
    border-radius: 5px;
}

#profil {
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    width: 85%;
    display: flex;
    align-items: center;
    gap: 5%;
    cursor: pointer;
}

.profile-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.profile-text .email {
    font-size: 95%;
    opacity: 0.8;
    overflow-wrap: anywhere;
    word-break: break-word;
}
.name {
    font-size: 120%;
}
.dropdown {
  position: absolute;
  bottom: 0;
  left: 11vw;
  background-color: #191B1F;
  border: 1px solid white;
  border-radius: 8px;
  width: 150px;
  padding: 10px 0;
}
.dropdown-item {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #2A2D34;
}