:host {
  display: block;
  height: 100%;
  width: 100%;
}
#contain{
    display: flex;
    flex-direction: row;
    gap: 2%; 
    color: white;
    background-color: #2D3037;
    width: 100%;
    font-size: 180%;
}
select{
    background-color: #2D3037;
    border: solid 0.7px rgb(160, 157, 157);
}
